<div class="text-center mt-12 text-white text-7xl lg:text-9xl font-serif">
  CARDS API 
</div>
<div align="center" class="mt-24">

  <button (click)="shuffle()" class="m-6 bg-[#e74c3c] hover:bg-[#c0392b] text-[#043249] font-bold py-4 px-8 rounded-lg text-3xl">
    New deck
  </button>
  <button *ngIf="showDrawBtn" (click)="getCard()" class="bg-[#e74c3c] hover:bg-[#c0392b] text-[#043249] font-bold py-4 px-8 rounded-lg text-3xl">
    Draw a card
  </button>
  
 <div *ngIf="showCard" class="text-white text-2xl bold">
  <div *ngIf="cardsoutside.remaining > 0">
  <img src="{{ cards.image }}" alt="">
  {{ cards.value }} OF {{ cards.suit }}
    <br>
    
 {{ cardsoutside.remaining }} cards remaining
</div>
<div *ngIf="cardsoutside.remaining == 0">
  No cards remaining
  </div>
</div> <!-- if showCard -->
 


</div>
<div align="center" class="mt-12 text-white">Made with <i class="fa-solid fa-heart"></i> by <a class="font-bold text-[#e74c3c]" href="https://github.com/Flashtheorie/cardsAPI">@flashtheorie</a> </div>
